.row
  .span4
    .row
      .span12
        -#%p!=session[:review]
        -#%p!="#{@reviewer.num_correct} correct, #{@reviewer.num_incorrect} incorrect of #{@reviewer.num_total}."
        %p
          Do you know this word?
    .row
      .span12
        %h2=@word.kanji
    .row
      .span12
        %a.btn.btn-success#yes
          Yes
        %a.btn#no
          No
        %form#yes_form{:action => url_for(:action => :review), :method => :post}
          != token_tag nil
          %input{:type => :hidden, :name => 'id', :value => @word.id}
          %input{:type => :hidden, :name => 'answer', :value => 'yes'}
        %form#no_form{:action => url_for(:action => :review), :method => :post}
          != token_tag nil
          %input{:type => :hidden, :name => 'id', :value => @word.id}
          %input{:type => :hidden, :name => 'answer', :value => 'no'}
        %a.btn#show_answer
          Show Answer
  .span8
    .row
      .span6
    .row
      %br
    .row
      .span6
      .span6
        .row
          .span2
            - words = current_user.words
            :coffeescript
              $(document).ready ->
                data = [[#{words.untested.count},label: "New"], [#{words.expired.count},label: "Expired"], [#{words.failed.count},label: "Forgotten"], [#{words.known.count},label: "Known"]]
                Chuhi.setup_graph(data)
            %table.table
              %thead
                %tr
                  %th
                    Cards:
                  %td=words.count
            #answer
              %p=@word.kana
              %p=@word.translation
          .span4
            .graph#deck-graph-small
