.row
  .span12
    - if current_user.words.count == 0
      .alert.alert-info
        You have no cards in your deck! Add your first card below.
    - if flash[:success]
      .alert.alert-sucess
        =flash[:success]
.row
  .span6
    != form_for :word, :url => {:action => "create"}, :html => {:class => ".form-horizontal.well"} do |f|
      - if !@word.errors.empty?
        .alert.alert-error
          - @word.errors.full_messages.each do |e|
            %p=e
      %fieldset
        %legend
          Add Card
        .control-group
          !=f.label(:kanji, "Kanji", :class => "control-label")
          .controls
            !=f.text_field(:kanji, :class => "input-xlarge")
        .control-group
          !=f.label(:kana, "Kana", :class => "control-label")
          .controls
            !=f.text_field(:kana, :class => "input-xlarge")
        .control-group
          !=f.label(:translation, "Translation", :class => "control-label")
          .controls
            !=f.text_field(:translation, :class => "input-xlarge")
        .form-actions
          %button.btn.btn-primary{:type => "submit"}
            Save
          %a.btn{:href => url_for(deck_path)}
            Cancel
  .span6
    - words = current_user.words
    :coffeescript
      $(document).ready ->
        data = [[#{words.untested.count},label: "New"], [#{words.expired.count},label: "Expired"], [#{words.failed.count},label: "Forgotten"], [#{words.known.count},label: "Known"]]
        Chuhi.setup_graph(data)
    %table.table
      %thead
        %tr
          %th
            Cards:
          %td=words.count
        - if @last_word_added
          %th
            Last word added:
          %td="#{@last_word_added.kanji} (#{@last_word_added.kana}) - #{@last_word_added.translation})"
          .span4
      .graph#deck-graph-small

