!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title!=content_for?(:title) ? yield(:title) : "Chuhi"
    !=csrf_meta_tags
    !=stylesheet_link_tag "application", :media => "all"
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target"=>".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          !=link_to("Chuhi", "/", :class => "brand")
          .container
            - if !current_user
              %ul.nav
                %li
                  <a href="#{url_for(about_path)}">About <i class='icon-info-sign'></i></a>
              %ul.nav.pull-right
                %li
                  <a href="#{url_for(new_user_session_path)}">Sign In <i class='icon-ok'></i></a>
                %li
                  <a href="#{url_for(new_user_registration_path)}">Sign Up <i class='icon-user'></i></a>
            - else
              %ul.nav
                %li
                  <a href="#{url_for(:controller => :review, :action => :review)}">Review<i class='icon-book'></i></a>
                %li
                  <a href="#{url_for(:controller => :cards, :action => :new)}">Add Cards<i class='icon-plus-sign-alt'></i></a>
            - if current_user
              %ul.nav.pull-right
                %li.divider-vertical
                %li.dropdown
                  %a.dropdown-toggle{'data-toggle' => 'dropdown'}
                    %i.icon-cog
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      <a href="#">Profile</a>
                    %li
                      <a href="#{url_for(destroy_user_session_path)}" data-method="delete" rel="nofollow">Sign Out <i class='icon-off'></i></a>

    .container
      !=javascript_include_tag "application"
      != yield
      %footer
        %p{:style => "font-size: x-small;"}
          User contributions and course content licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_chihi">CC-BY-NC-SA with attribution</a> licence. Source code available on <a href="https://github.com/rgravina/chuhi" target="_chihi">Github</a>
